@import '../../../styles/colors';
@import '../../../styles/variables';

nav {
  background-color: $bisque;
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: $box-shadow;
  justify-content: space-between;

  .brand {
    font-size: 30px;
    line-height: 56px;
    color: $black;
  }

  ul {
    list-style-type: none;
    float: right;
    line-height: 56px;
    li {
      color: $black;
    }
    &:hover {
      background-color: bisque;
    }
    a {
      color: $black;
    }
  }
};
